.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border: 2px solid #000;
  padding: 30px;
  outline: #d99f2c;
}
  .inputField{
    margin-bottom: 30px;

    input:focus,input:after, input:before{
      border: 1px solid #d99f2c;
    }


  }

  button{
    border: 1px solid #d99f2c;
    color: #d99f2c;
  }
