.main{
  position: relative;
  width: 85vw;
  height: 100vh;
}

.heroBg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/cargo-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07;
}

.flexContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 50px;

  .headerTitle{
    color: white;
    text-shadow: 0 1px 1px #d99f2c;
    font-size: 38px;
    margin-bottom: 15px;
  }
}

.cargosTitleList{
  font-size: 28px;
  font-weight: 550;
  width: 64vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.buttonContainer{
  margin: 20px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg{
    width: 50px;
    height: 50px;
    fill: #d99f2c;
  }

  button{
    display: block;
    color: #d99f2c;
  }

  button:hover{
    background: rgba(230, 209, 21,0.07);
  }

}


.tableButtonContainer{
  margin-top: 10px;
  justify-content: end;
  display: flex;
  align-items: center;

  button{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    color: #d99f2c;

    :nth-of-type(1){
      margin-left: 0;
    }
  }

  svg{
    margin-bottom: 5px;
  }

  button:hover{
    background: rgba(230, 209, 21,0.07);
  }
}

.error{
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.transitIcon:hover {
    animation: bounce 2s infinite;
}

  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }


  .headerContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d99f2c;

      :nth-of-type(1){
        margin-left: 5px;
      }
    }


    button:hover{
      background: rgba(230, 209, 21,0.07);
    }
  }
.footerContainer{
  display: flex;
  justify-content: end;
}