.main{
  position: relative;
  width: 85vw;
  height: 100vh;

  @media screen and (max-width: 767px) {
    width: 100vw;
  }
}

.heroBg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/statistics-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07;
}

.flexContainer {
  width: 100%;
  position: absolute;
  padding: 50px;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .title {
    padding: 20px;
    font-size: 38px;
    color: #FFFFFF;
  }
}
.tab{
  padding: 0;
  border: 1px solid grey;
  height: 100%;
  font-family: IBM Plex Sans, sans-serif;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  width: 100%;
  margin: 6px 6px;
  background: transparent;
  display: flex;
  justify-content: center;

  &:hover {
    background: transparent;
  }

  &:focus {
    color: #fff;
    border-radius: 3px;
    outline: 2px solid #86641a;
    outline-offset: 2px;
  }
}

.tabList{
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;

}

.tabPanel{
  width: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
}

.tab{
  font-family: IBM Plex Sans, sans-serif;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  padding: 12px 16px;
  margin: 6px 6px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  &:hover {
    background: rgba(230, 209, 21,0.07);
  }

  &:focus {
    color: #fff;
    border-radius: 3px;
    outline: 2px solid #d99f2c
  }
    outline-offset: 2px;
  }

.tabContainer{
  height: 70vh;
  border-radius: 3px;
  padding: 20px;
}

.subtitle{
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}



.totalBlock{
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.items{
  h3{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .item{
    margin-bottom: 10px;
  }
}

.barChart{
  margin: 0 auto;
  max-width: 700px;
}