.sidebar{
  color: white;
  background: rgb(55,54,55);
  background: radial-gradient(circle, rgba(55,54,55,1) 0%, rgba(52,51,51,1) 50%, rgba(20,20,20,1) 100%);
  height: 100vh;
  width: 15vw;
  min-width: 150px;
  border-right: .5px solid rgb(71, 53, 16);
  z-index: 10;
@media screen and (max-width: 767px)  {
 display: flex;
 position: fixed;
  height: 10vh;
  width: 100vw;
  .logoContainer{
    display: none;
  }
  .navbar{

    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    :first-child{
      padding: 0;
    }

    .navItem{
      margin-bottom: 0;
      text-align: center;
    }
  }
}

  h1{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
  }
}

.navbar{
  padding: 20px;
  margin-top: 20px;
  :hover{
    color: #d99f2c;
  }

  li{
    color: white;
    list-style: none;

    span{
      color: white;
    }

    a{
      text-decoration: none;
    }
  }
}

.logoContainer{
  overflow: hidden;
  align-items: center;
}

.road{
  overflow: hidden;
  background: #424141;
}
.line{
  display: flex;
  height: 2px;
  width: 100%;
  background: #424141;
  border-bottom: 7px dashed #d99f2c;
}

.navbar :not(:last-child){
    margin-bottom: 30px;
  }


.navItem{
  font-size: 20px;
}

.icon2{
  animation: spin2 15s linear infinite;

  svg {
    transform: scale(-1, 1);
    position: relative;
    bottom: -3px;
  }
}

@keyframes spin2 {
  0% { -webkit-transform: translateX(120%);
  }
  100% { -webkit-transform: translateX(-20%); transform: translateX(-20%); }
}

.icon{
  animation: spin 12s linear infinite;

  svg {
    position: relative;
    bottom: -2px;
  }

  @keyframes spin {
    0% { -webkit-transform: translateX(-20%); }
    100% { -webkit-transform: translateX(120%); transform: translateX(120%); }
  }
}

.humanIcon{
  max-width: 20px;
  max-height: 30px;
  animation: spin3 .5s linear infinite;
  margin-left: 30px;
  svg {
    position: relative;
    bottom: -5px;

  }

  @keyframes spin3 {
    0% { -webkit-transform: translateX(-1000%);  transform: rotate(-40deg);  }
    100% { -webkit-transform: translateX(120%); transform: rotate(20deg); }
  }
}