.sidebar{
  color: white;
  background: #100003;
  height: 100vh;
  width: 15vw;
  min-width: 200px;
  padding: 20px;
  border-right: 2px solid white;

  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
  }
}

.navbar{
  margin-top: 50px;
  li{
    color: white;
    list-style: none;
    span{
      color: white;
    }
    a{
      text-decoration: none;
    }
    :hover{

      color: yellow;
    }
  }
}

.logoContainer{
  overflow: hidden;
  align-items: center;
  border-bottom: 4px dashed grey;
  :nth-child(2){
    margin-left: 5px;
  }
}
.navbar{
  :nth-child(1){
    margin-bottom: 30px;
  }
}
.navItem{
  font-size: 20px;
}


.icon{
  animation:spin 5s linear infinite;
  svg {
    position: relative;
    bottom: -5px;

  }


  @keyframes spin {
    0% { -webkit-transform: translateX(-10%); }
    100% { -webkit-transform: translateX(110%); transform: translateX(110%); }
  }
}